/*Next, create a new CSS file called styles.css.

Use a type selector to style the div with the following:

border: 1px solid;
text-align: center;

Then, style all elements with the "line" class, using the following styles:

width: 50%;
margin: auto;
padding: 10px 0;
text-decoration: underline;

Lastly, select the following elements with their id attributes use id selectors to apply the following styles:

    "roses" - background-color: red;
    "violets" - background-color: violet;
    "sugar" - background-color: beige;
*/

div{
    border: 1px solid;
    text-align: center;
}

.line{
    width: 50%;
    margin: auto;
    padding: 10px 0;
    text-decoration: underline;
}

#roses{
    background-color: red;
}

#violets{
    background-color: violet;
}

#sugar{
    background-color: beige;
}
